<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>

<body>

    <h1 class="signHeading">SIGN UP</h1>
    <form action="" class="signForm">
        <input type="text" placeholder="What is your name?" class="signName" id="signUpName">
        <input type="text" placeholder="Say your surname too" class="signSurname" id="signUpSurname">
        <input type="text" placeholder="Here write your GMAIL" class="signGmail" id="signUpGmail">
        <input type="password" placeholder="Thank you, and now create any password" class="signPassword" id="signUpPassword">
        <button class="signButton" id="signUpButton">Submit</button>
    </form>



    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>